<mat-card>
  <mat-card-content>
    <form [formGroup]="RegisterForm" (submit)="submit()">
      <h2>Register</h2>
      <mat-form-field class="full-width-input">
        <input matInput placeholder="name" formControlName="name" required>
       
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input matInput placeholder="Email" formControlName="email" required>
        <mat-error>
          pas bon mail
        </mat-error>
       
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input matInput type="password" placeholder="Password" formControlName="password" required>
        <mat-error>
          mot de passe ne doit pas etre vide
        </mat-error>
      </mat-form-field>
     <a href="https://upload.wikimedia.org/wikipedia/fr/3/34/One_Piece_%28ja%29_Logo.svg"><button [disabled]="RegisterForm.invalid" mat-raised-button color="primary">Register</button></a>
    </form>
  </mat-card-content>
</mat-card>